//text
$color-text-primary: #E6E1E6;
$color-text-secondary: #1C1C1C;
$color-text-link: #ffc099;
//background
$color-background-primary: #303030;
$color-background-transition: #545454;
$color-background-secondary: #636363;
//forms
$color-input-background: #EEEEEE;
//other
$color-pop: #FF6600;
$color-pop-active: #FF4400;

//################## CSS ######################

// text
.color-text-primary {
	color: $color-text-primary;
}
.color-text-secondary {
	color: $color-text-secondary;
}
.color-text-link {
	color: $color-text-link;
}

//background
.color-background-primary {
	background-color: $color-background-primary;
}
.color-background-transition {
	background-color: $color-background-transition;
}
.color-background-secondary {
	background-color: $color-background-secondary;
}

//other
.color-pop {
	color: $color-pop;
}