//text
$color-text-primary: #E6E1E6;
$color-text-primary-link-hover: #FFFFFF;
$color-text-secondary: #1C1C1C;
$color-text-secondary-link-hover: #000000;
//background
$color-background-primary: #303030;
$color-background-secondary: #636363;
//other
$color-pop: #FF6600;